@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.container {
  width: 100%;
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
@media (min-width: 2048px) {
  .container {
    max-width: 1920px;
  }
}

@media (preferens-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body, section, div, header, footer, main, aside, nav, blockquote, p, span {
  margin: 0;
  padding: 0;
}

img, svg {
  vertical-align: middle;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: var(--color-default);
}

span {
  color: var(--color-secondary);
  font-weight: 600;
}

.bg-secondary span {
  color: var(--color-primary);
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
}
@media (min-width: 1400px) {
  .wrapper {
    grid-template-rows: auto auto 1fr auto;
  }
}

.container, .container-fluid {
  position: relative;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}

a {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.btn-dark, .btn-primary, .btn-secondary, .btn-accent, .btn-gray, .btn-light {
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid;
  padding: 15px 40px;
  font-size: 16px;
  transition: 0.25s;
  text-decoration: none !important;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.btn-dark:hover, .btn-primary:hover, .btn-secondary:hover, .btn-accent:hover, .btn-gray:hover, .btn-light:hover {
  transform: 0.25s;
  text-decoration: none !important;
}

.btn-menu {
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid;
  transition: 0.25s;
  text-decoration: none !important;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: transparent;
  height: 55px;
  width: 55px;
  font-size: 1.6rem;
}
.btn-menu:hover {
  transition: 0.25s;
  text-decoration: none;
}

p {
  margin: 0;
  margin-top: 0rem;
  margin-bottom: 0.5em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-decoration: none !important;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 40px;
  font-weight: bold;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 12px;
}

header .top-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  padding: 0.7rem;
}
header .top-header .address-info p {
  margin: 0;
}
header .top-header .social-icons {
  display: flex;
  align-items: center;
  list-style: none;
}
header .top-header .social-icons a {
  position: relative;
  text-decoration: none;
  margin-right: 15px;
}
header .top-header .social-icons a i {
  font-size: 1.5rem;
}
header .top-header .social-icons a:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 3.4rem;
  width: 1px;
  background-color: currentColor;
  right: -0.6rem;
}
header .top-header .social-icons a:first-child::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 3.4rem;
  width: 1px;
  background-color: currentColor;
  left: -0.6rem;
}
header .top-header .social-icons a:last-child::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 3.4rem;
  width: 1px;
  background-color: currentColor;
  right: -0.6rem;
}

.about-us .section-title-area {
  display: flex;
  justify-content: space-between;
}
.about-us .section-title-area .section-title {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}
.about-us .section-title-area .section-title h2 {
  margin-bottom: 10px;
}
.about-us .section-title-area .section-title .section-nav {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.about-us .section-title-area .section-title .section-nav a {
  text-decoration: none;
}

.ceo-section {
  padding-top: 120px;
  display: flex;
  gap: 40px;
}
.ceo-section .ceo-img p {
  margin-top: 10px;
  font-style: italic;
}
.ceo-section .ceo-letter .ceo-quote {
  font-style: italic;
}
.ceo-section .ceo-letter .ceo-text p {
  margin-top: 30px;
}

.reviews-about-section {
  margin-top: 120px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}
.reviews-about-section .section-title {
  margin-top: 50px;
  margin-right: 0px;
  width: 35%;
}
.reviews-about-section .section-title h2 {
  margin-top: 0px;
  max-width: 60%;
}
.reviews-about-section .section-title .review-text {
  max-width: 70%;
  font-style: italic;
}
.reviews-about-section .section-title .rating {
  margin-top: 30px;
}
.reviews-about-section .section-title .reviewer {
  margin-top: 30px;
}

.team-about-section {
  margin-top: 120px;
}
.team-about-section .team-section-title {
  text-align: center;
}
.team-about-section .team-section-title h2 {
  margin-top: 0px;
}
.team-about-section .team-boxes {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 50px;
}
.team-about-section .box {
  border: 0.5px solid #EAEAEA;
}
.team-about-section .box p {
  margin-left: 15px;
  margin-top: 5px;
}
.team-about-section .box .team-member-name {
  font-weight: 600;
  font-size: 22px;
}
.team-about-section .box .team-member-position {
  font-size: 13px;
  margin-bottom: 15px;
}
.team-about-section .team-box-slider {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.let-us-footer {
  margin-top: 120px;
  padding-top: 50px;
}
.let-us-footer .let-us-know {
  display: flex;
}
.let-us-footer .let-us-know .contact-portrait .dots {
  position: absolute;
  top: 35;
  left: 350;
}
.let-us-footer .let-us-know .contact-portrait .green-slope {
  position: absolute;
  top: 265;
}
.let-us-footer .let-us-know .contact-portrait .portrait {
  position: relative;
}
.let-us-footer .let-us-know .contact-info {
  margin-left: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.let-us-footer .let-us-know .contact-info h2 {
  margin-bottom: 20px;
}
.let-us-footer .let-us-know .contact-info .icon-row {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}
.let-us-footer .let-us-know .contact-info .icon-row i {
  color: var(--color-secondary);
}
.let-us-footer .let-us-know .contact-info .icon-row .contact-type {
  font-size: 14px;
  font-weight: 600;
}
.let-us-footer .let-us-know .contact-info .icon-row .info-row {
  font-style: italic;
  font-size: 14px;
}/*# sourceMappingURL=main.css.map */