.ceo-section{
    padding-top: 120px;
    @include small-desktop{
        display: flex;
    }
    gap: 40px;

    .ceo-img{
        text-align: center;
        margin-bottom: 40px;

        @include small-desktop{
            margin-bottom: 0px;
        }
        p{
            margin-top: 10px;
            font-style: italic;
        }
    }

    .ceo-letter{
        .ceo-quote{
                font-style: italic;
        }
        .ceo-text{
            p{
                margin-top: 30px;
            }
        }
    }
}